.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.npmrc
.envrc
.editorconfig
.github/
esbuild.js
jest.config.js
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*

.tool-versions
Makefile
